*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url("/images/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header {
    margin: 0;
    padding: 15px;
    
}

.container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    width: 800px;
    height: 600px;
    
}

.results {
    width:600px;
    height:300px;
    border: 1px solid white;
    padding: 10px;
    border-radius:5px;
    backdrop-filter: blur(3px);
    background-color: white;
    opacity: 0.6;

}

.results::before {
    position:absolute;
    background-color: rgba(255, 255, 255, 0.650.78);
   
}

input[type="text"] {
    height: 50px;
    width: 200px;
    background-color: lightgray;
    border:none;
    border-radius:5px;
    margin:5px;
    padding:10px 10px;
    color: black;
    font-size: 20px;
}

.inputValue:focus, .inputValue:target{
    border:none;
}

.button {
    height: 40px;
    width: 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius:5px;
    cursor: pointer;
}

.weather-results p {
    padding: 15px 0;
}